
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f6f8;
    line-height:1.6;
    color:#333;
    margin-top:60px;
}

nav{
    background: linear-gradient(90deg, #5f2c82, #8a4fff, #b084ff);
    padding:10px 0;
    display:flex;
    justify-content:flex-start;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}

.dropdown{
    position:relative;
}

.dropdown-btn{
    background:white;
    color:#5f2c82;
    border:none;
    padding:8px 16px;
    font-size:14px;
    font-weight:600;
    border-radius:4px;
    cursor:pointer;
}

.dropdown-content{
    display:none;
    position:absolute;
    background:white;
    min-width:200px;
    box-shadow:0px 8px 16px rgba(0,0,0,0.2);
    border-radius:4px;
    margin-top:5px;
}

.dropdown-content a{
    display:block;
    padding:10px 14px;
    text-decoration:none;
    color:#333;
    font-size:14px;
}

.dropdown-content a:hover{
    background:#f3e8ff;
}


.dropdown:hover .dropdown-content{
    display:block;
}

header{
    text-align:center;
    padding:30px 20px;
    background:white;
    margin-bottom:10px;
}

header h1{
    color:#5f2c82;
    margin-bottom:6px;
}

header h2{
    color:#666;
    font-weight:normal;
    margin-bottom:10px;
}

header p{
    margin:4px 0;
}

section{
    background:white;
    width:80%;
    margin:20px auto;
    padding:22px 26px;
    border-radius:6px;
}

section h2{
    color:#5f2c82;
    border-bottom:2px solid #b084ff;
    padding-bottom:6px;
    margin-bottom:14px;
}

h3{
    margin-top:10px;
    margin-bottom:4px;
    color:#444;
}

p{
    margin-bottom:10px;
}

ul{
    padding-left:18px;
    margin-bottom:10px;
}

li{
    margin-bottom:4px;
}